/*@media only screen and ( min-width :1000px) {*/

html, body {
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.parent {
    background-color: rgb(214, 76, 214);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo1 {
    display: flex;
    align-items: center;
}

#chlogo {
    height: 100px;
    width: 100px;
    border-radius: 400px;
    margin: 5px;
}

.name {
    /* position: absolute; */
    padding: 50px;
    padding-top: 20px;
    /* display: inline-block; */
    color: rgb(12, 9, 9);
}

.logo {
    /* position: absolute; */
    padding: 10px;
    font-size: small
    /* padding-top: 30px */;
    /* display: inline-block; */
    /* padding-left: 600px; */
}

.fonimg {
    width: 30px;
    height: 30px;
}

.emailimg {
    width: 30px;
    height: 30px;
}


.home {
    margin: 10px;
}

.gallery {
    padding-left: 300px;
}

.about {
    padding-left: 200px;
}

.contact {
    padding-left: 300px;
}

.backimage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), transparent), url('./assets/img/phg.jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100% 100%;
    position: flex;
}

strong {
    padding-top: 30%;
    color: black;
    font-size: large;
}



.jesus {
    position: absolute;
    color: transparent;
    padding-left: 30px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 16%;
    text-decoration: none;
    -webkit-text-size-adjust: 5%;
    text-indent: 0%;
    -webkit-text-stroke: 1px #fff;
    background-image: url(./assets/img/holy.jpg);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: backwards 50s linear infinite;
    animation-name: back;
}

@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}

.image8 {
    width: 600px;
    display: inline-block;
}

.image4 {
    width: 700px;
    display: inline-block;
}

figure {
    padding-top: 2px;
}

.fig {
    padding: 10px;
}

figcaption {
    text-decoration: solid;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(1, 15, 6);
    position: absolute;
    z-index: 100;
}



h4 {
    color: antiquewhite;
    padding-left: 50px;
}

.description {
    color: #fff;
    padding-left: 50px;
    display: inline-block;
}

.contact3 {

    padding-top: 0px;
    padding-left: 100px;
}

.mb-3 {
    padding-top: 50px;
    padding-bottom: 20px;
}

.mb-2 {
    padding-left: 35px;
}

button {
    padding-left: 60px;
}

label {
    color: #fff;
}

.final {
}


/*div>#5pit {
    background-color: rgb(12, 10, 126);
}*/


/*}*/

@media screen and (max-width:360px) {
    .logo1 {
        display: inline-block;
        position: fixed;
        height: 10px;
        width: 10px;
        padding-top: 2%;
    }
    chlogo {
        height: 10px;
        width: 10px;
        border-radius: 500px;
    }
    .name {
        position: relative;
        padding: 120px;
        padding-top: 30px;
        display: inline-block;
        color: black;
        font-size: small;
    }
    .logo {
        position: absolute;
        padding: 10px;
        padding-top: 40px;
        display: inline-block;
        right: 0.1px;
        size: 1px;
        font-size: small;
    }
    .fonimg {
        height: 20px;
        width: 20px;
    }
    .emailimg {
        height: 20px;
        width: 20px;
    }
    .home {
        margin: 10px;
        font-size: x-small;
    }
    .gallery {
        padding-left: 20px;
        font-size: x-small;
    }
    .about {
        padding-left: 40px;
        font-size: x-small;
    }
    .contact {
        padding-left: 30px;
        font-size: x-small;
    }
    backimage {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), transparent), url('phg.jpg');
        height: 500px;
        background-repeat: no-repeat;
        background-attachment: none;
        background-size: 100% 100%;
        position: flex;
    }
    strong {
        padding-top: 30%;
    }
    .jesus {
        position: absolute;
        color: transparent;
        font-size: 25px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding-top: 59%;
        text-decoration: none;
        -webkit-text-size-adjust: 8%;
        text-indent: 0%;
        -webkit-text-stroke: 1px #fff;
        background-image: url(holy.jpg);
        -webkit-background-clip: text;
        background-position: 0 0;
        animation: backwards 50s linear infinite;
        animation-name: back;
    }
    @keyframes back {
        100% {
            background-position: 2000px 0;
        }
    }
}